$fonts__sans: 'Source Sans Pro', sans-serif;

$fonts__title: rem(120px);
$fonts__subtitle: rem(80px);

$fonts__h1: rem(48px);
$fonts__h2: rem(36px);
$fonts__h3: rem(32px);
$fonts__h4: rem(28px);
$fonts__h5: rem(24px);

$fonts__body: rem(20px);
$fonts__body--mobile: rem(18px);